<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="re.notifica.app">

    <application>
        <activity
            android:name="re.notifica.ui.PassbookActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="push-test.notifica.re"
                    android:pathPrefix="/pass/forapplication/${notificareAppId}"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name="re.notifica.app.ResetPassActivity"
            android:label="@string/title_reset_pass"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="push-test.notifica.re" android:pathPrefix="/oauth/resetpassword/${notificareAppId}" />
            </intent-filter>
        </activity>
        <activity
            android:name="re.notifica.app.ValidateActivity"
            android:label="@string/title_validate"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="push-test.notifica.re" android:pathPrefix="/oauth/validate/55aca82cf231d9e80ef851d2" />
            </intent-filter>
        </activity>

        <!-- API key for Google Maps -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBhJiakK9U-PS8_1HG1pAYlqUxrLvNeqMs"
            tools:replace="android:value" />

    </application>

</manifest>
